USE_SSH=Yes  # для local вообще значения не имеет.

# SSH-подключение (если используется)
SSH_HOST=
SSH_PORT=
SSH_USER=
SSH_KEY_PATH=
SSH_KEY_PASSWORD=                  # оставить пустым, если нет пароля

# MySQL-подключение (через туннель)
MYSQL_LOCAL_PORT=3306

MYSQL_REMOTE_HOST=127.0.0.1
MYSQL_REMOTE_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

# Опционально: логирование (пока не реализовано)
RUST_LOG=info

# Интервал между запросами в сек.
INTERVAL=10
# Время работы цикла программы в мин.
LIFETIME=120

# Указать таблицы для использования
SCHEMA=        # Схема (база) для использования
TABLE1=   # Таблица запросов (BSR)
TABLE2=   # Таблица требований (BPD)
TABLE3=   # Таблица фактически поступивших платежей
HISTORY_SIZE=5  # Размер копируемых в буфер строк
